.map-wrapper {
  width: 100%;
  height: 24rem;           
  border-radius: 0.75rem;
  border: 1px solid #cbd5e1; 
  overflow: hidden;       
}

.leaflet-map {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .leaflet-container {
  width: 100% !important;
  height: 100% !important;
}
